---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-12">
    <div class="post-area post">
      <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: "%Y-%m-%d" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <hr>
      <article>
        {{content}}
      </article>
      <hr>
        <div class="bdsharebuttonbox">

        </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="post-area post comment">
            <div class="comment-push">
                <textarea id="commentText" rows="3" placeholder="评论内容"></textarea>
                <a id="commentPush" class="comment-push-btn">匿名评论</a>
            </div>
            <div class="comment-list" id="comment">
                <div class="title">
                    <span>评论列表</span>
                </div>
                <ul class="list" id="commentList">
                </ul>
            </div>
        </div>
        <script src = "https://cdn.wilddog.com/js/client/current/wilddog.js" ></script>
        <script type="text/javascript"  src="{{"/static/js/comment.js" | prepend: site.baseurl }}"></script>
    </div>
</div>
